* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
  position: relative;
  left:0;
  top:0;
  width:0;
  height:0;
}

header h4{
  position: absolute;
  left: 10%;
  bottom: 1rem;
  font-size: 1.6rem;
}

/* splash screen */
.intro{
  position: fixed;
  z-index: 1;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: 20%;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  bottom:150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrong-buttons {
  background-color: rgb(223, 36, 36);
  height: 80px;
  
}

.correct-buttons {
  background-color: rgb(20, 167, 79);
  height: 80px;
  vertical-align: middle;

}

.set-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 0;
}

.set {
  width: 470px;
  
}

.center {
  margin: auto;
}

.card {
  margin: auto;
  width: 500px;
  height: 300px;
  display: flex;
  border: none;
  cursor: pointer;
  background: none;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  margin: auto;
  background-color: rgb(156, 223, 235);
}

.card-back {
  margin: auto;
  background-color: rgb(156, 223, 235);
  transform: rotateY(180deg);
}

.card-flipped {
  transform: rotateY(180deg);
}