* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
  position: relative;
  left:0;
  top:0;
  width:0;
  height:0;
}

header h4{
  position: absolute;
  left: 10%;
  bottom: 1rem;
  font-size: 1.6rem;
}

/* splash screen */
.intro{
  position: fixed;
  z-index: 1;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: 20%;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  bottom:150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


#navbar {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  margin: 0;
  width: fit-content;
  display: flex;
  border: none;
  cursor: pointer;
  perspective: 50px;
  background-color:none;
}


.set-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 5px;
  background-color: rgb(144,174,178);
  margin:0;
  padding: 40px;
}

.set {
  width: 470px;
  
}

.center {
  margin: auto;
}

.card {
  margin: auto;
  width: 500px;
  height: 300px;
  display: flex;
  border: none;
  cursor: pointer;
  background-color: none;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  margin: auto;
  background-color: rgb(144, 174, 178);
}

.card-back {
  margin: auto;
  background-color: rgb(114, 179, 188);
  transform: rotateY(180deg);
}

.card-flipped {
  transform: rotateY(180deg);
}

h1.Quizlet-top-title{
  font-size: 15px;
  margin:0;
  display: flex;
}

h1.section-divider{
  font-size: 35px;
  background-color: rgb(144,174,178);
  margin:0;
}

h1.new-deck{
  font-size: 35px;
  background-color: rgb(55,81,77);
  margin:0;
}

form.form-set{
  background-color: rgb(55,81,77);
}

.float-container {
  border: 0px solid #fff;
  padding: 0px;
}

.float-child {
  width: 50%;
  float: left;
  background-color: rgb(55,81,77);
}

.card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(144,174,178);
  color:rgb(44, 70, 66);
}

.child-stuff {
  width: 50%;
    float: left;
    padding: 20px;
}








.wrong-buttons {
  background-color: rgb(238, 230, 222); 
  border: none;
  color: rgb(201, 89, 74);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px; 
}

.wrong-buttons1 {
  background-color: rgb(201, 89, 74); 
  color: black; 
  border: 2px solid rgb(238, 230, 222);
  border-radius: 12px; 
}

.wrong-buttons1:hover {
  background-color: rgb(238, 230, 222);
  color: rgb(201, 89, 74);
  border-radius: 12px; 
}


.correct-buttons {
  background-color: rgb(238, 230, 222); 
  border: none;
  color: rgb(130, 201, 166);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;

}


.correct-buttons1 {
  background-color: rgb(130, 201, 166); 
  color: black; 
  border: 2px solid rgb(238, 230, 222);
  border-radius: 12px; 
}

.correct-buttons1:hover {
  background-color: rgb(238, 230, 222);
  color: rgb(130, 201, 166);
  border-radius: 12px; 
}

